*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    z-index: 99;
  }
  
  .header.fixed {
    background-color: var(--white);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  }
  
  .theme__dark .header.fixed {
    background-color: var(--bg-color);
  }
  
  .header .head__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2.1rem 0;
    position: relative;
    transition: all 0.3s;
  }
  
  .header.fixed .head__content {
    padding: 1.1rem 0;
  }
  
  .header .logo {
    margin-bottom: 0;
  }
  
  .logo .logo__link {
    color: var(--primary-color);
    font-size: 3.2rem;
    line-height: 1;
    transition: all 0.3s;
    text-align: center;
    position: relative;
  }
  
  .logo .logo__link i {
    display: block;
    position: absolute;
    top: -0.8rem;
    left: 5.5rem;
    font-size: 2rem;
  }
  
  .header.fixed .logo .logo__link,
  .header .logo:hover .logo__link {
    color: var(--title-color);
  }
  
  .theme__dark .header.fixed .logo .logo__link {
    color: var(--white);
  }
  
  .logo .logo__link span {
    display: block;
  }
  
  .header .head__menu {
    display: flex;
    align-items: center;
  }
  
  .header .head__search {
    background: var(--white);
    border-radius: 2rem;
    margin-left: auto;
  }
  
  header .head__search input {
    background-image: url("../image/common/search.png");
    background-repeat: no-repeat;
    background-position: 1rem;
    background-size: 1.6rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: all 0.5s ease;
    width: 3.5rem;
    padding: 0.5rem 0.5rem 0.5rem 3rem;
    cursor: pointer;
  }
  
  .header.fixed .head__search input {
    border-color: #eee;
  }
  
  header .head__search input:focus {
    outline: none;
    width: 20rem;
  }
  
  .header nav {
    background-color: var(--white);
    box-shadow: 0 20px 62px rgba(4, 20, 69, .1);
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    min-width: 20rem;
  }
  
  .theme__dark .header nav {
    background-color: var(--bg-color);
  }
  
  .header nav ul {
    padding: 1rem 0;
  }
  
  .header .menu__icon {
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 3rem;
    height: 2rem;
    margin-left: 0.5rem;
  }
  
  .header nav.active {
    max-height: 30rem;
    transition: max-height 0.5s ease;
  }
  
  .header .menu__icon span {
    border-radius: 0.5rem;
    background: var(--white);
    display: inline-block;
    width: 2.5rem;
    height: 0.4rem;
    transition: all 0.3s;
  }
  
  .header.fixed .menu__icon span {
    background: var(--black);
  }
  
  .theme__dark .header.fixed .menu__icon span {
    background: var(--white);
  }
  
  .header nav a {
    color: var(--title-color);
    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0.9rem 1rem;
    transition: all 0.3s ease;
  }
  
  .header nav a.active {
    color: var(--primary-color);
  }
  
  .theme__dark .header nav a {
    color: var(--white);
  }
  
  .header nav a:hover {
    color: var(--primary-color);
  }
  
/* Welcome  */
.welcome{
    margin: 80px 0;
}
.welcome .container{
    max-width: 1290px;
    margin: 0 auto;
}
.welcome .welcome_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome .content_left span{
    color: #FB8133;
    font-size: 22px;
    font-weight: bolder;
}
.welcome .content_left h2{
    font-size: 40px;
    font-weight: bolder;
    color: #070707;
}
.theme__dark .welcome .content_left h2{
  color: #fff;
}
.welcome .content_left p{
    color: #707070;
}
.theme__dark .welcome .content_left p{
    color: #b7b7b7;
}
.welcome .content_left button{
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 30px;
    background-color: #FB8133;
    transition: all .5s;
    border: none;
    color: #fff;
    font-weight: 600;
}
.welcome .content_left button:hover{
    background-color: #009f4d;
    border-color: #009f4d;
}
.welcome .content_right img{
    border-radius: 10px;
    width: 100%;
}
/* Number  */
.number{
    margin-top: 60px;
}
.number .container{
    max-width: 1290px;
    margin: 0 auto;
}
.number .number_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.number .content_item i{
    border: 1px solid transparent;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    background-color: #F5FBF8;
    color: #009F4D;
    font-size: 40px;
}
.theme__dark .number .content_item i{
  background-color: #212724;
}
.number .content_item span{
    font-size: 48px;
    font-weight: 600;
    margin: 10px 0;
    display: block;
    font-weight: bolder;
    color: #070707;
}
.theme__dark .number .content_item span, .theme__dark .number .content_item p{
    color: #fff;
}
.number .content_item p{
    font-size: 17px;
    color: #060606;
}

/* Team  */
.team{
    background-color: #009F4D;
    padding: 60px 0;
    margin: 60px 0;
}
/* .team .container{
  max-width: 1580px;
  margin: 0 auto;
} */
.team .team_title{
    position: relative;
    margin: 60px 0;
}
.team .team_title h2{
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
  opacity: 0.14;
  font-size: 12vw;
  color: white;
}
.team h4{
    font-size: 22px;
    font-weight: 700;
}
.team h3{
    font-size: 40px;
    line-height: 50px;
    font-weight: bolder;
}
.team p{
    font-size: 20px;
    color: white;
    font-weight: 300;
    width: 100%;
}
.team .content_group{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.team .item_pic {
    padding: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.team .item_pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.team .team_overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 30px);
    height: calc(100% - 30px); 
    color: white;
    opacity: 0;
    transition: all 0.5s;
    background-color: rgba(8, 8, 8, 54%);
    border-radius: 10px;
    padding: 30px;
    overflow: hidden;
}
.team .item_pic:hover .team_overlay {
    opacity: 1;
}
.team .item_pic:hover .overlay_title{
    transform: translateY(0);
    opacity: 1;
}
.team .overlay_title{
    opacity: 0;
    transform: translateY(-55px);
    transition: all 0.3s ease;
}
/* .team .team_overlay:hover { 
    opacity: 1;
    background-color: rgba(8, 8, 8, 54%);
    transform: translateY(20px);
} */
.team .overlay_title h3{
    transition: all .5s;
    font-size: 25px;
}
.team .overlay_title h3:hover{
    color: #FB8133;
}
.team .overlay_contact{
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    left: 0;
    display: block;
    transform: translateY(50px);
    text-align: center;
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
}
.team .item_pic:hover .overlay_contact {
    transform: translateY(0);
    opacity: 1;
}
.team .overlay_contact i{
    transition: all .5s;
    margin-right: 15px;
    font-size: 2rem;
}
.team .overlay_contact i:hover {
    color: #FB8133;
}
.team .item_text h2{
    font-size: 21px;
    font-weight: bolder;
    transition: all .5s;
}
.team .item_text h2:hover{
    color: #FB8133;
}
.team .item_text p{
    color: black;
    font-size: 1.6rem;
}
/* Product  */
.product .container{
    max-width: 950px ;
    margin: 0 auto;
}
.product .product_title h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: #060606;
}
.theme__dark .product_title h2{
  color: #fff;
}
.product .product_title p{
    color: #707070;
}
.theme__dark .product_title p{
  color: #b7b7b7;
}
.product .modal {
    background: rgba(11, 11, 11,0.95);
}
.product .modal-dialog {
    max-width: 720px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    margin: 0;
}
.product .modal-content,
.product .modal-body {
    padding: 0;
    background: none;
}
.product .btn-close {
    background: no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    opacity: 1;
    margin-left: auto;
}
.product .btn-close::before,
.product .btn-close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    background-color: #fff;
    width: 20px;
    height: 1px;
}
.product .btn-close::after {
    transform: translate(-50%,-50%) rotate(-45deg);
}
.product .product_image{
    position: relative;
}
.product .product_image img{
    border-radius: 10px;
}
.product .product_image button i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FB8133;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    font-size: 1.6rem;
}
/* Carousel  */
.carousel{
    background-image: url(https://wp.w3layouts.com/farmstead/wp-content/themes/farmstead/assets/images/bg1.jpg);
    width: 100%;
    height: 50vh;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
}
.carousel::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 52%);
}
.carousel .carousel_item{
    padding: 80px 0;
    text-align: center;
}
.carousel .carousel_item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.carousel .item_text{
    position: relative;
}
.carousel .item_text i{
    position: absolute;
    top: -30px;
    left: -30px;
    color: #FB8133;
    font-size: 20px;
}
.carousel .slick-dots li button{
  color: transparent;
}
.carousel .slick-dots li button:before, .slick-dots li.slick-active button:before, .slick-dots li button:before {
    color: #FB8133;
    font-size: 10px;
}
/* Carousel 2  */
/* ============================================================
		TESTIMONIALS
============================================================ */
#testimonials {
  background-image: url("../image/top/bg1.jpeg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonials::after {
  background: rgb(10 10 10 / 52%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#testimonials .owl-carousel {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#testimonials .data__img img {
  max-width: 9rem;
}

#testimonials .data__img h5 {
  font-size: 2rem;
}

#testimonials .data__img p {
  font-size: 1.6rem;
}

#testimonials .data__text span {
  color: var(--primary-color);
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
}

#testimonials .data__text q {
  display: block;
  font-size: 2.2rem;
  line-height: 1.55;
  text-indent: 3rem;
}

#testimonials .owl-carousel .owl-dots {
  margin-top: 5rem;
}

#testimonials .owl-carousel .owl-dot span {
  background: var(--white);
  opacity: 0.3;
}

#testimonials .owl-carousel .owl-dot.active span {
  background: var(--primary-color);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #testimonials {
    background-position: center left;
  }

  #testimonials .data__img h5 {
    font-size: 1.8;
  }

  #testimonials .data__text q {
    font-size: 1.7rem;
  }
}
/* footer  */
.footer {
    padding: 5rem 0;
  }
  
  .footer .logo .logo__link {
    display: inline-block;
    text-align: left;
  }
  
  .footer .logo .logo__link:hover {
    color: var(--title-color);
  }
  
  .footer .logo .logo__link i {
    text-align: center;
  }
  
  .footer h3 {
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 600;
  }
  
  .theme__dark .footer h3 {
    color: var(--white);
  }
  
  .footer p {
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  
  .footer p.mt-6 {
    margin-top: 4.5rem;
  }
  
  .footer p a {
    color: var(--text-color);
  }
  
  .theme__dark .footer p a {
    color: var(--text-color-dark-theme);
  }
  
  .footer p a.w3L {
    color: var(--second-color);
  }
  
  .footer p a:hover {
    color: var(--primary-color);
  }
  
  .footer .foot__contact {
    padding-left: 3rem;
  }
  
  .form__foot {
    display: flex;
    width: 100%;
  }
  
  .form__foot input {
    background: var(--gray);
    border-radius: 3rem 0 0 3rem;
    border: 1px solid #eee;
    flex: 1;
    margin: 0;
    padding: 1rem 0.5rem 1rem 2rem;
    outline: none;
  }
  
  .form__foot input:focus {
    outline: none;
  }
  
  .form__foot button {
    background-color: var(--second-color);
    border: none;
    outline: none;
    border-radius: 0 3rem 3rem 0;
    width: 20%;
    transition: all 0.3s;
  }
  
  .form__foot button:hover {
    opacity: 0.8;
  }
  
  .form__foot button i {
    color: var(--white);
  }
  
  .foot__social {
    margin-top: 3rem;
  }
  
  .foot__social ul {
    display: flex;
  }
  
  .foot__social ul li {
    margin-right: 0.7rem;
  }
  
  .foot__social a {
    color: var(--second-color);
    background: rgba(0, 159, 77, 0.1);
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.3s;
  }
  
  .foot__social a:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    background: rgba(251, 129, 30, 0.1);
    color: var(--primary-color);
  }
  
  .btn__top a {
    background: var(--second-color);
    border-radius: 0.5rem;
    color: var(--white);
    position: fixed;
    bottom: 9rem;
    right: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    transition: all 0.3s;
    opacity: 0;
    z-index: -1;
  }
  
  .btn__top.fixed a {
    opacity: 1;
    z-index: 9;
  }
.test:hover{
    transform: translateY(50px);
}