h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 2.8rem;
  clear: both;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.section .item {
  margin-bottom: 5rem;
}

/* ============================================================
		Card
============================================================ */

.card {
  background-color: var(--white);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 0.8rem;
  margin-bottom: 1.5rem;
  padding: 1.6rem;
}

.theme__dark .card {
  background-color: #27282b;
}

.card img {
  border-radius: 0.8rem;
}

.card h6 {
  font-size: 1.6rem;
  line-height: 2.5rem;
  color: var(--text-color);
  text-transform: capitalize;
}

.theme__dark .card h6 {
  color: var(--text-color-dark-theme);
}

.card .byW3 {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.card .blog__desc {
  font-size: 2.6rem;
  line-height: 3.4rem;
  color: var(--title-color);
  margin-top: 1rem;
  margin-bottom: 0.8rem;
  transition: 0.3s ease;
}

.card .blog__desc:hover {
  color: var(--primary-color);
}

.theme__dark .card .blog__desc {
  color: var(--white);
}

.theme__dark .card .blog__desc:hover {
  color: var(--primary-color);
}

.card btn__comp {
  font-size: 1.6rem;
  font-weight: 600;
}

@media (max-width: 992px) {
  .card .blog__desc {
    font-size: 2.2rem;
    line-height: 3.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  .card h6 {
    font-size: 1.5rem;
  }

  .card .blog__desc {
    font-size: 2rem;
  }
}

/* ============================================================
		pagination
============================================================ */

.pagination {
  margin-top: 6rem;
}

.pagination a {
  padding: 1rem 1.8rem;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  color: var(--black);
  transition: all 0.5s;
}

.pagination a.current {
  background-color: var(--second-color);
  color: #fff;
}

a.page__numbers:hover {
  background-color: var(--second-color);
  color: #fff;
}

/* ============================================================
		RIGHT SIDE OF PAGINATION
============================================================ */

.right__side {
  position: sticky;
  top: 10rem;
}

.widget {
  background: var(--white);
  border-radius: 3rem;
  margin: 0 0 2.5em;
}

.theme__dark .widget {
  margin-bottom: 4rem;
  background: var(--bg-color);
  border-radius: 3rem;
  color: var(--white);
}

.widget ul li {
  width: 100%;
  position: relative;
}

.widget ul li a {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.5rem;
  align-items: baseline;
  transition: 0.3s ease;
}

.widget__search {
  position: relative;
}

input.search__field {
  outline: none;
  width: 100%;
  color: var(--text-color);
  background-color: var(--white);
  padding: 1.2rem 7rem 1.2rem 1.7rem;
  font-size: 1.8rem;
  height: 5.5rem;
  border: 0.1rem solid #eee;
  border-radius: 0.4rem;
  display: block;
}

.theme__dark input.search__field {
  background-color: var(--bg-color);
  border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

input.search__field:focus {
  border: 0.1rem solid var(--black);
}

.theme__dark input.search__field:focus {
  background-color: var(--white);
}

input.search__submit {
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.6rem;
  height: 5rem;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  top: 0.3rem;
}

h2.widget__title,
h2.widget__title a {
  font-size: 2.2rem;
  line-height: 3.2rem;
  color: var(--title-color);
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.widget__entries ul li {
  line-height: 2.5rem;
  display: block;
  margin: 0 0 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
}

.widget__entries ul li a {
  transition: 0.3s all;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--title-color);
}

.widget__entries ul li a:hover {
  color: var(--primary-color);
}

.widget__comments ul li {
  margin: 2rem 0;
  color: var(--text-color);
}

.widget__comments ul li a {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 600;
}

.widget__comments ul li a:hover {
  text-decoration: underline;
}

li.list__menu {
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid #eee;
}

li.list__menu a {
  text-transform: capitalize;
  line-height: 2.5rem !important;
  transition: 0.3s all;
  font-size: 1.8rem !important;
  color: var(--title-color) !important;
}

li.list__menu a:hover {
  color: var(--primary-color) !important;
}

.theme__dark .page__numbers,
.theme__dark h2.widget__title,
.theme__dark h2.widget__title a,
.theme__dark .widget__entries ul li a,
.theme__dark li.list__menu a {
  color: var(--white) !important;
}

.theme__dark .widget__entries ul li,
.theme__dark li.list__menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.theme__dark .widget__comments ul li {
  color: var(--text-color-dark-theme) !important;
}

.theme__dark .widget__entries ul li a:hover,
.theme__dark li.list__menu a:hover {
  color: var(--primary-color) !important;
}