/* ============================================================
		CONTACT
============================================================ */
#contact ul li h6 {
  color: var(--title-color);
  font-size: 1.8rem;
  font-weight: 600;
}

#contact ul li .icon i {
  color: var(--primary-color);
  font-size: 2rem;
}

#contact ul li p {
  font-size: 1.7rem;
}

#contact ul li a {
  color: var(--text-color);
  transition: all 0.3s;
}

#contact ul li a:hover {
  color: var(--primary-color);
}

#contact .form__contact input,
#contact .form__contact textarea {
  width: 100%;
  border: 1px solid #eee;
  padding: 1.4rem;
}

#contact .form__contact input:focus,
#contact .form__contact textarea:focus {
  border-color: var(--primary-color);
  outline: none;
}

::placeholder {
  font-size: 1.5rem;
  font-weight: 400;
}