main {
  height: 100vh;
  background-image: url("../image/404/error2.jpeg");
  background-size: cover;
  background-position: top right;
}

.content__error .st1 {
  color: var(--second-color);
  font-size: 8.3rem;
  font-family: "Volkhov", serif;
}

.content__error svg {
  fill: var(--second-color);
  width: 50rem;
  max-width: 100%;
}

.content__error .st2 {
  filter: blur(1px);
}

.content__error .title {
  color: var(--title-color);
  font-size: 2.4rem;
}

.content__error .circle {
  animation: scale 2s ease infinite;
}

@keyframes scale {
  0% {
    r: 3;
    opacity: 0.8;
  }

  25% {
    r: 6;
    opacity: 0.3;
  }

  50% {
    r: 9;
    opacity: 0.2;
  }

  75% {
    r: 12;
    opacity: 0.1;
  }

  100% {
    r: 18;
    opacity: 0;
  }
}

.content__error .form input {
  padding: 1.5rem 2rem;
  border: 1px solid #eee;
  border-radius: 5rem;
  background: #f4f4f4;
  outline: none;
}

.theme__dark .content__error .form input {
  color: var(--white);
}

.content__error .form input:focus {
  border: 1px solid #eee;
}

.theme__dark .form input {
  background-color: #0b0d0e;
}

.content__error .form button {
  width: 6rem;
  background: none;
  outline: none;
}

.content__error .form button span {
  color: var(--second-color);
  font-size: 1.5rem;
}

.content__error .back__home {
  color: var(--title-color);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 5rem;
  transition: all .5s;
}

.content__error .back__home:hover {
  color: var(--second-color);
}

@media screen and (max-width: 767px) {
  .theme__dark .logo .logo__link {
    color: var(--primary-color);
  }

  main {
    background-position: left;
  }

  .theme i {
    color: var(--title-color);
  }

  .header .menu__icon span {
    background: var(--title-color);
  }

  .content__error .form {
    width: 90%;
  }

  .content__error .title {
    font-size: 2.2rem;
  }
}