h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 2.8rem;
  clear: both;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
  font-family: "Source Sans Pro", sans-serif;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 1rem;
  color: #fb811e;
}

/* ============================================================
		SERVICE
============================================================ */

.services {
  position: relative;
}

.services.py-5 {
  padding-top: 1.9rem !important;
}

.services .service__item {
  margin-top: 4.7rem !important;
}

.services .service__item .item__box {
  padding: 5rem 3.5rem 4.2rem;
  position: relative;
  z-index: 1;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 3%);
  transition: 0.3s;
}

.theme__dark .services .service__item .item__box {
  background-color: var(--bg-color);
  box-shadow: 0 1rem 2.5rem rgb(23 19 19);
  transition: 0.3s;
}

.services .service__item .item__box:hover {
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.09);
}

.services .service__item i {
  font-size: 4.5rem;
  color: #fb811e;
}

.services .service__item h4 a {
  margin-top: 2.5rem;
  display: block;
  color: #060606;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
  letter-spacing: 0;
  text-decoration: none;
  transition: all 0.3s;
}

.theme__dark .services .service__item h4 a {
  color: var(--white);
}

.theme__dark .services .service__item h4 a {
  color: var(--white);
}
.services .service__item h4 a:hover {
  color: var(--primary-color);
}

.services .service__item p {
  font-size: 1.7rem;
  line-height: 2.7rem;
  color: #707070;
}

.theme__dark .services .service__item p {
  color: var(--text-color-dark-theme);
}

/* ============================================================
		QUALITY
============================================================ */

.qualify {
  padding-top: 8.3rem !important;
  padding-bottom: 8.5rem !important;
}

.qualify .row.custom__padding {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}

.qualify .row.custom__padding > * {
  padding-left: 1rem;
}
.qualify .order__last {
  margin-top: 1.03rem !important;
}

.qualify .order__last .custom__padding {
  padding-left: 0rem;
  padding-right: 1rem;
}

.qualify img {
  height: auto;
  border-radius: 3rem;
}

.qualify .title {
  font-size: 4rem;
  line-height: 5.1rem;
  font-weight: 600;
  color: #060606;
}

.box__title p {
  font-size: 1.7rem;
}

.qualify .custom__padding.mt-5 {
  margin-top: 5rem !important;
}

.custom__padding .box__icon {
  display: flex;
}

.custom__padding .box__icon .icon i {
  color: var(--primary-color);
  font-size: 3rem;
}

.custom__padding .box__icon .cont {
  padding-left: 1rem;
}

.custom__padding .box__icon .cont h4 {
  color: var(--title-color);
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.theme__dark .custom__padding .box__icon .cont h4 {
  color: var(--white);
}

.custom__padding .box__icon .cont p {
  font-size: 1.7rem;
}

.qualify .order__first {
  padding-right: 0.7rem !important;
}

@media (min-width: 992px) {
  .order__last {
    order: 13;
  }
}

@media (min-width: 992px) {
  .order-lg-first {
    order: -1;
  }
}

@media (min-width: 992px) {
  .pl-lg-5 {
    padding-left: 5.5rem !important;
  }
}
@media (max-width: 568px) {
  .qualify .title {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@media (max-width: 1200px) {
  .custom__padding .box__icon .cont h4 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .qualify .order__first {
    margin-top: 4.2rem !important;
  }
}
/* ============================================================
		Stats
============================================================ */
.stats {
  padding-top: 2.9rem !important;
  padding-bottom: 5.8rem !important;
}

.stats i {
  color: var(--second-color);
  text-align: center;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  border-radius: 50%;
  background: rgb(0 159 77 / 4%);
  font-size: 3.2rem;
}

.stats .row {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.stats p.counter {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--title-color);
  margin-top: 1.5rem !important;
  margin-bottom: 0rem !important;
  line-height: 1.52;
}

.stats p.count__text {
  text-transform: uppercase;
  color: var(--title-color);
  font-size: 1.7rem;
}

.theme__dark .stats p {
  color: var(--white);
}
@media (max-width: 991px) {
  .stats p.counter {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .stats i.fa {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .stats i.fa {
    font-size: 2em;
  }
  .stats p.counter {
    font-size: 3.2rem;
  }
}

@media (max-width: 640px) {
  .stats p.count__text {
    font-size: 1.6rem;
  }
}

/* ============================================================
		Cover
============================================================ */

.cover {
  background-image: url(./../image/services/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3.7rem 0 3rem;
}

.cover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(8 8 8 / 44%);
  top: 0;
  left: 0;
}

.cover .container {
  position: relative !important;
  z-index: 1;
}
