@media screen and (max-width: 767px) {}

#welcome {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0;
}

#welcome .row>* {
  padding-left: 0;
  padding-right: 0;
}

#welcome .slider {
  height: 100vh;
  position: relative;
}

#welcome .data__sliders {
  border-bottom-left-radius: 2rem;
  overflow: hidden;
}

#welcome .slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#welcome .slider .slider__info {
  display: inline-block;
  color: var(--white);
  font-size: 1.7rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  text-align: center;
}

#welcome .slider .slider__info h4 {
  font-size: 2.4rem;
}

#welcome .slider .slider__info span {
  font-family: var(--text-font-family);
}

#welcome .owl-dots {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

#welcome .owl-theme .owl-dots .owl-dot span {
  background: var(--white);
  width: 1.2rem;
  height: 1.2rem;
}

#welcome .owl-theme .owl-dots .owl-dot.active span,
#welcome .owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}

#welcome .box__title {
  position: absolute;
  top: 50%;
  left: 16rem;
  transform: translate(0, -50%);
  z-index: 2;
  max-width: 60rem;
}

#welcome .box__title h2 {
  margin-left: -5rem;
  margin-bottom: 1rem;
}

#welcome .box__title h3 {
  font-size: 5rem;
  font-weight: bold;
}

#welcome .box__title p {
  margin-bottom: 4rem;
}

@media screen and (max-width: 1440px) {
  #welcome .box__title h3 {
    font-size: 4rem;
    font-weight: 600;
    max-width: 50rem;
  }
}

@media screen and (max-width: 991px) {
  #welcome .box__title {
    left: 8rem;
  }
}

@media screen and (max-width: 767px) {
  #welcome {
    padding: 0 0.7rem;
  }

  #welcome .box__title {
    background-color: var(--white);
    width: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 6rem 2rem 3rem 4rem;
  }

  #welcome .box__title h2 {
    font-size: 6rem;
    margin: 0 0 1.5rem -3rem;
  }

  #welcome .box__title h3 {
    font-size: 2.5rem;
  }

  #welcome .box__title p {
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
  }

  #welcome .slider .slider__info h4 {
    font-size: 2.1rem;
  }

  #welcome .slider .slider__info {
    bottom: 4.5rem;
  }
}

/* ============================================================
		GROW
============================================================ */
.round-6 {
  border-radius: 3rem;
}

.my-sm-6 {
  margin: 4.8rem 0;
}

#grow {
  padding: 10rem 0;
}

#grow .list__icon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

#grow .box__icon {
  background-color: var(--white);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.035);
  transition: all 0.3s;
}

.theme__dark #grow .box__icon {
  background-color: var(--bg-color);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.35);
}

#grow .box__icon:hover {
  box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.09);
}

#grow .icon img {
  max-height: 6.5rem;
  margin-bottom: 2rem;
  width: auto;
}

#grow .box__title p {
  font-size: 1.7rem;
}

#grow .box__icon a {
  color: var(--title-color);
  font-size: 2rem;
  font-weight: 600;
  transition: all 0.3s;
}

.theme__dark #grow .box__icon a {
  color: var(--white);
}

#grow .box__icon a:hover {
  color: var(--second-color);
}

@media screen and (max-width: 767px) {
  #grow {
    padding: 6rem 0;
  }

  #grow .box__title p {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 568px) {

  #grow .list__icon {
    grid-template-columns: 1fr;
  }
}

/* ============================================================
		SERVICES
============================================================ */
#services {
  background-color: var(--second-color);
}

#services .box__title {
  position: relative;
}

#services .box__title h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.14;
  font-size: 12vw;
}

.theme__dark #services .box__title h2 {
  color: var(--gray);
}

#services .list__article article {
  background-color: var(--white);
}

.theme__dark #services .list__article article {
  background-color: var(--bg-color);
}

#services .list__article .cat {
  background: rgb(0 159 77 / 16%);
  border-radius: 2.5rem;
  color: var(--second-color);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.4rem 2rem;
}

#services .list__article .title {
  display: block;
  color: var(--title-color);
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1rem 0;
}

.theme__dark #services .list__article .title {
  color: var(--white);
}

@media screen and (max-width: 767px) {}

/* ============================================================
		QUALITY
============================================================ */
.mb-6 {
  margin-bottom: 4.8rem;
}

.custom__padding>* {
  padding-left: 1rem;
  padding-right: 1rem;
}

#quality .box__icon .icon i {
  color: var(--primary-color);
  font-size: 3rem;
}

#quality .box__icon .cont {
  padding-left: 1rem;
}

#quality .box__icon .cont h4 {
  color: var(--title-color);
  font-size: 2.4rem;
  font-weight: 600;
}

.theme__dark #quality .box__icon .cont h4 {
  color: var(--white);
}

#quality .box__icon .cont p {
  font-size: 1.7rem;
}

#quality .data__imgage {
  position: relative;
  padding-left: 10rem;
}

#quality .data__imgage img {
  border-radius: 2.5rem;
}

#quality .data__imgage .exp {
  background-color: var(--primary-color);
  color: var(--white);
  position: absolute;
  bottom: 3rem;
  left: 0;
  padding: 2rem 7rem 2rem;
  text-align: center;
  border-bottom-right-radius: 10rem;
  box-shadow: 2rem 2rem 2.5rem rgba(0, 0, 0, 0.2);
}

#quality .data__imgage .exp h3 {
  font-size: 7rem;
  font-weight: 600;
}

#quality .data__imgage .exp p {
  font-size: 1.8rem;
  font-weight: 600;
}

@media screen and (max-width: 1200px) {
  #quality .box__icon .cont h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .custom__padding>* {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  #quality .data__imgage {
    padding-left: 0;
  }

  #quality .data__imgage .exp {
    left: -1.5rem;
  }
}

/* ============================================================
		LIST SERVICES
============================================================ */
#list__service {
  padding: 0;
}

#list__service .box__icon {
  cursor: pointer;
  display: flex;
  padding: 3rem 4rem;
  transition: all 0.3s;
  border: 1px solid transparent;
  border-radius: 1rem;
}

#list__service .box__icon:hover {
  border: 1px solid #eee;
}

.theme__dark #list__service .box__icon:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

#list__service .box__icon .icon img {
  max-width: inherit;
  width: 5.4rem;
}

#list__service .box__icon .cont {
  padding-left: 2.5rem;
}

#list__service .box__icon h4 {
  color: var(--title-color);
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.3s;
}

.theme__dark #list__service .box__icon h4 {
  color: var(--white);
}

#list__service .box__icon:hover h4 {
  color: var(--second-color) !important;
}

@media screen and (max-width: 1200px) {
  #list__service .box__icon h4 {
    font-size: 1.9rem;
  }

  #list__service .box__icon {
    padding: 2rem 1rem;
  }
}

@media screen and (max-width: 767px) {
  #list__service .box__icon {
    padding: 2rem 3rem;
  }
}

/* ============================================================
		GALLERY
============================================================ */
#list__gallery,
#list__gallery .item {
  padding: 0 !important;
}

#gallery .list__gallery .item:nth-child(1) {
  padding-right: 1rem !important;
}

#gallery .list__gallery .item:not(:first-child) {
  cursor: pointer;
}

#gallery .list__gallery .item:not(:first-child):after {
  content: "";
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
  position: absolute;
  left: -150%;
  top: 0;
  width: 20rem;
  height: 100%;
  transform: skewX(-20deg);
}

#gallery .list__gallery .item:hover:after {
  animation: aniglasses 0.7s ease-out forwards;
}

@keyframes aniglasses {
  0% {
    left: -100%;
  }

  100% {
    left: 120%;
  }
}

#gallery .list__gallery .ttl {
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  padding: 1rem;
  margin-bottom: 7.5%;
  text-align: center;
}

#gallery .list__gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#gallery .box__title p {
  margin: 1rem 0 2rem;
}

@media screen and (max-width: 1200px) {
  #gallery .box__title h3 {
    font-size: 3.4rem;
  }

  #gallery .box__title p {
    margin: 1rem 0;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  #gallery .list__gallery .item:nth-child(1) {
    margin-bottom: 1.5rem;
  }

  #gallery .list__gallery {
    padding: 0 1.5rem;
  }
}

/* ============================================================
		TESTIMONIALS
============================================================ */
#testimonials {
  background-image: url("../image/top/bg1.jpeg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#testimonials::after {
  background: rgb(10 10 10 / 52%);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#testimonials .owl-carousel {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

#testimonials .data__img img {
  max-width: 9rem;
}

#testimonials .data__img h5 {
  font-size: 2rem;
}

#testimonials .data__img p {
  font-size: 1.6rem;
}

#testimonials .data__text span {
  color: var(--primary-color);
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
}

#testimonials .data__text q {
  display: block;
  font-size: 2.2rem;
  line-height: 1.55;
  text-indent: 3rem;
}

#testimonials .owl-carousel .owl-dots {
  margin-top: 5rem;
}

#testimonials .owl-carousel .owl-dot span {
  background: var(--white);
  opacity: 0.3;
}

#testimonials .owl-carousel .owl-dot.active span {
  background: var(--primary-color);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #testimonials {
    background-position: center left;
  }

  #testimonials .data__img h5 {
    font-size: 1.8;
  }

  #testimonials .data__text q {
    font-size: 1.7rem;
  }
}